* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.site-open {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.site-open>h1 {
  width: 195px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about {
  width: 60%;
  text-align: center;
}

.home-pic {
  height: auto;
  max-width: 25%;
  margin-bottom: 15px;
  border-radius: 50%;
  border: thin solid black;
}

.snippet-pic {
  height: auto;
  max-width: 35%;
  border-radius: 50%;
  border: thin solid black;
}

.connor-jones {
  margin-bottom: 10px;
}






.experience-home-snippet {
  position: absolute;
  right: 0;
  height: 100vh;
  width: 25vw;
  background-color: tomato;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 5;
}

.experience-page {
  position: absolute;
  left: 0;
  height: 100vh;
  z-index: 5;
}

.experience-tab {
  position: absolute;
  right: 0;
  height: 100vh;
  width: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  z-index: 1;
  font-size: 1.2rem;
  transition: background-color .4s, transform .3s;
}

.experience-tab:hover {
  background-color: gainsboro;
  transform: scale(1.05);
}

.experience-tab>i {
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
}

.experience-tab>h4 {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  display: flex;
  align-items: center;
}

.experience-home-tab {
  position: absolute;
  right: 0;
  height: 100%;
  width: 45px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  z-index: 1;
  font-size: 1.2rem;
  transition: background-color .4s, transform .3s;
}

.experience-home-tab:hover {
  background-color: gainsboro;
  transform: scale(1.05);
}

.experience-home-tab>i {
  margin-top: 15px;
  display: flex;
  justify-content: center;
}

.experience-home-tab>h4 {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  transform: rotate(180deg);
  display: flex;
  align-items: center;
}

.experience-contents {
  position: absolute;
  left: 0;
  height: 100%;
  width: calc(100% - 45px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: turquoise;
}








.projects-home-snippet {
  position: absolute;
  top: 0;
  height: 20vh;
  width: 100vw;
  background-color: tomato;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
}

.projects-page {
  position: absolute;
  bottom: 0;
  width: 100vw;
  z-index: 5;
}

.projects-tab {
  position: absolute;
  top: 0;
  height: 60px;
  width: 100vw;
  display: flex;
  justify-content: center;
  cursor: pointer;
  z-index: 2;
  font-size: 1.2rem;
  transition: background-color .4s, transform .3s;
}

.projects-tab:hover {
  background-color: gainsboro;
  transform: scale(1.05);
}

.projects-tab>i {
  margin-right: 15px;
  display: flex;
  align-items: center;
}

.projects-tab>h4 {
  display: flex;
  align-items: center;
}

.projects-home-tab {
  position: absolute;
  top: 0;
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
  cursor: pointer;
  z-index: 1;
  font-size: 1.2rem;
  transition: background-color .4s, transform .3s;
}

.projects-home-tab:hover {
  background-color: gainsboro;
  transform: scale(1.05);
}

.projects-home-tab>i {
  margin-right: 15px;
  display: flex;
  align-items: center;
}

.projects-home-tab>h4 {
  display: flex;
  align-items: center;
}

.projects-contents {
  position: absolute;
  bottom: 0;
  height: calc(100% - 40px);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: turquoise;
}








.contact-home-snippet {
  position: absolute;
  left: 0;
  height: 100vh;
  width: 25vw;
  background-color: tomato;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 5;
}

.contact-page {
  position: absolute;
  right: 0;
  height: 100vh;
  z-index: 5;
}

.contact-tab {
  position: absolute;
  left: 0;
  height: 100vh;
  width: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  z-index: 1;
  font-size: 1.2rem;
  transition: background-color .4s, transform .3s;
}

.contact-tab:hover {
  background-color: gainsboro;
  transform: scale(1.05);
}

.contact-tab>i {
  margin-top: 15px;
  display: flex;
  justify-content: center;
}

.contact-tab>h4 {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  transform: rotate(180deg);
  display: flex;
  align-items: center;
}

.contact-home-tab {
  position: absolute;
  left: 0;
  height: 100%;
  width: 45px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  z-index: 1;
  font-size: 1.2rem;
  transition: background-color .4s, transform .3s;
}

.contact-home-tab:hover {
  background-color: gainsboro;
  transform: scale(1.05);
}

.contact-home-tab>i {
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
}

.contact-home-tab>h4 {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  display: flex;
  align-items: center;
}

.contact-contents {
  position: absolute;
  right: 0;
  height: 100%;
  width: calc(100% - 45px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: turquoise;
}