* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

li {
  list-style: none;
}

.site-open {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.site-open>h1 {
  width: 195px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about {
  width: calc(100vw - 120px);
  height: calc(100vh - 60px);
  position: fixed;
  top: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0 0 10px 10px;
  background: rgb(171,228,230);
  background: linear-gradient(0deg, rgba(171,228,230,1) 45%, rgba(255,255,255,1) 78%);
}

.home-pic {
  height: auto;
  max-width: 16%;
  min-width: 150px;
  margin: 30px 0 15px 0;
  border-radius: 50%;
  border: thin solid grey;
}

.snippet-pic {
  height: auto;
  max-width: 32%;
  min-width: 80px;
  margin-bottom: 15px;
  border-radius: 50%;
}

.snippet-pic-horizontal {
  max-width: 8%;
  min-width: 90px;
  border-radius: 50%;
}

.connor-jones {
  margin-bottom: 3px;
  font-family: 'Montserrat', sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
}

.software-engineer {
  width: 90px;
  margin-bottom: 15px;
  overflow: visible;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 3px;
}

.about-engineering, .about-experience {
  width: 75%;
  margin: 16px 0 10px 0;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
}

.about-engineering {
  margin-bottom: 4px;
}

.connect {
  width: 130px;
  margin: 7px 0 30px 0;
  font-size: 28px;
  display: flex;
  justify-content: space-evenly;
}

.connect>a {
  color: black;
}

.resume-icon {
  transform: scale(1.1, 0.89);
}





.site-nav-experience {
  position: absolute;
  top: 40%;
  left: 15px;
}

.site-nav-experience>h5 {
  text-align: left;
}

.site-nav-experience>i {
  margin: 10px 100px 0 0;
  transform: rotate(180deg) scale(1.5);
}


.site-nav-work {
  position: absolute;
  bottom: 15px;
  right: 10%;
  display: flex;
}

.site-nav-work>h5 {
  text-align: left;
}

.site-nav-work>i {
  margin: 15px 10px 0 0;
  transform: rotate(90deg) scale(1.5) scaleY(-1);
}


.site-nav-contact {
  position: absolute;
  top: 40%;
  right: 15px;
}

.site-nav-contact>h5 {
  text-align: right;
}

.site-nav-contact>i {
  margin: 10px 0 0 100px;
  transform: scale(1.5) scaleY(-1);
}





.experience-home-snippet {
  position: absolute;
  right: 0;
  height: 100vh;
  width: 25vw;
  padding: 2% 0;
  background-color: rgb(136, 202, 171);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  z-index: 5;
}

.snippet-top {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 5;
}

.snippet-name {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1px;
  margin-bottom: 2px;
}

.snippet-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.85rem;
  font-weight: 500;
  letter-spacing: 0.5px;
  margin-bottom: 7px;
}

.snippet-connect {
  width: 90px;
  font-size: 22px;
  display: flex;
  justify-content: space-evenly;
}

.snippet-connect>a {
  color: black;
}

.snippet-bottom {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-size: 0.9rem;
  z-index: 5;
}

.language-db-container {
  height: 50%;
  width: 90%;
  margin-bottom: 25px;
  display: flex;
  justify-content: space-evenly;
}

.languages {
  height: 100%;
}

.languages>h4 {
  height: 20%;
  text-decoration: underline;
  font-family: 'Montserrat', sans-serif;
}

.languages>ul {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.libraries-frameworks {
  height: 50%;
}

.libraries-frameworks>h4, .databases>h4 {
  height: 20%;
  text-decoration: underline;
  font-family: 'Montserrat', sans-serif;
}

.libraries-frameworks>ul, .databases>ul {
  height: 80%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.libraries-frameworks>ul>li, .databases>ul>li {
  margin-bottom: 2px;
}

.experience-page {
  position: absolute;
  left: 0;
  height: 100vh;
  z-index: 5;
}

.experience-tab {
  position: absolute;
  right: 0;
  height: 100vh;
  width: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  z-index: 1;
  letter-spacing: 0.5px;
  font-size: 1.2rem;
  transition: background-color .4s, transform .3s;
}

.experience-tab:hover {
  background-color: rgb(238, 238, 238);
  transform: scale(1.05);
}

.experience-tab>i {
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
}

.experience-tab>h4 {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  display: flex;
  align-items: center;
}

.experience-home-tab {
  position: absolute;
  right: 0;
  height: 100%;
  width: 45px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  z-index: 1;
  font-size: 1.2rem;
  letter-spacing: 0.5px;
  transition: background-color .4s, transform .3s;
}

.experience-home-tab:hover {
  background-color: rgb(238, 238, 238);
  transform: scale(1.05);
}

.experience-home-tab>i {
  margin-top: 15px;
  display: flex;
  justify-content: center;
}

.experience-home-tab>h4 {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  transform: rotate(180deg);
  display: flex;
  align-items: center;
}

.experience-contents {
  position: absolute;
  left: 0;
  height: 100%;
  width: calc(100% - 45px);
  padding: 14px 4%;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  font-size: 0.8rem;
  background: rgb(171,228,230);
  background: linear-gradient(270deg, rgba(171,228,230,1) 10%, rgba(255,255,255,1) 95%);
}

.experience-education {
  margin-bottom: 20px;
  text-decoration: underline;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1.1px;
}

.experience-contents>div {
  margin-bottom: 25px;
}

.experience-contents>div>h2 {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1px;
}

.experience-contents>div>p {
  margin-bottom: 4px;
}

.resume {
  font-weight: 700;
}





.work-home-snippet {
  position: absolute;
  top: 0;
  height: 20vh;
  width: 100vw;
  padding: 0 4%;
  background-color: rgb(136, 202, 171);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  letter-spacing: 0.5px;
  z-index: 5;
}

.snippet-left {
  display: flex;
}

.snippet-info-horizontal {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.snippet-name-horizontal {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1px;
  margin-bottom: 2px;
}

.snippet-title-horizontal {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.85rem;
  font-weight: 500;
  letter-spacing: 0.5px;
  padding-left: 3px;
}

.snippet-connect-horizontal {
  width: 90px;
  font-size: 22px;
  padding-left: 3px;
}

.snippet-connect-horizontal>a {
  color: black;
}

.snippet-right {
  width: 530px;
  min-width: 340px;
  height: 80%;
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
}

.horizontal-languages {
  height: 100%;
}

.horizontal-languages>h4 {
  height: 20%;
  text-decoration: underline;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.5px;
}

.horizontal-languages>ul {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.horizontal-libraries-frameworks>h4, .horizontal-databases>h4 {
  height: 20%;
  text-decoration: underline;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.5px;
}

.horizontal-libraries-frameworks>ul, .horizontal-databases>ul {
  height: 80%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.work-page {
  position: absolute;
  bottom: 0;
  width: 100vw;
  z-index: 5;
}

.work-tab {
  position: absolute;
  top: 0;
  height: 60px;
  width: 100vw;
  display: flex;
  justify-content: center;
  cursor: pointer;
  z-index: 2;
  font-size: 1.2rem;
  letter-spacing: 0.5px;
  transition: background-color .4s, transform .3s;
}

.work-tab:hover {
  background-color: rgb(238, 238, 238);
  transform: scale(1.05);
}

.work-tab>i {
  margin-right: 15px;
  display: flex;
  align-items: center;
}

.work-tab>h4 {
  display: flex;
  align-items: center;
}

.work-home-tab {
  position: absolute;
  top: 0;
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
  cursor: pointer;
  z-index: 1;
  font-size: 1.2rem;
  letter-spacing: 0.5px;
  transition: background-color .4s, transform .3s;
}

.work-home-tab:hover {
  background-color: rgb(238, 238, 238);
  transform: scale(1.05);
}

.work-home-tab>i {
  margin-right: 15px;
  display: flex;
  align-items: center;
}

.work-home-tab>h4 {
  display: flex;
  align-items: center;
}

.work-contents {
  position: absolute;
  bottom: 0;
  height: calc(100% - 40px);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
  background: rgb(171,228,230);
  background: linear-gradient(180deg, rgba(171,228,230,1) 10%, rgba(255,255,255,1) 95%);
}

.work-contents>h1 {
  height: 10%;
  margin: 15px 0 10px 0;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1.3px;
  text-decoration: underline;
}

.applications {
  height: 80%;
  width: 100%;
  padding: 0 10vw;
  overflow: scroll;
}

.app-container {
  height: 50vh;
  width: 80vw;
  margin-bottom: 5vh;
  padding: 25px;
  background-color: rgba(206, 205, 205, 0.6);
  border-radius: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.app-snapshot {
  background-color: white;
  height: 100%;
  width: 70%;
  border-radius: 5px;
}

.travelwise-snapshot {
  background-image: url("https://lh3.googleusercontent.com/pw/ACtC-3fSxl92FJ-ew0KwHqyB4beutgBHrvDdtf70xP65AHmf90n680MhjuYoI4sCMHo9J4Gs0xZjU0GKvz-TYiefqslGBKomF7wzbnf2u-E5Qqq8JW2RwaHIjoWm4Wkm6uiMhR9SKVIe4guq06bfrCscHPDh=w1292-h722-no?authuser=0");
  background-repeat: no-repeat;
  background-size: cover;
}

.match-mix-snapshot {
  background-image: url("https://lh3.googleusercontent.com/pw/ACtC-3cEQtI7izkbRUE1v3KpF7G5oOCJhJ87OJTtRbAdZsbZkFgigyS_9OkHyvD2-ovidYx2cRpXehNoqfLLZEeOJ8T7aGlAkCtDUtE4yOS06CnOwNNAeGy0nNc2T2-G9SljW6h99ZmWUcXTnBoRkNCCLj51=w2546-h1314-no?authuser=0");
  background-repeat: no-repeat;
  background-size: cover;
}

.mancala-snapshot {
  background-image: url("https://lh3.googleusercontent.com/pw/ACtC-3eoqiJjZPK3Mop48_EAxkbYnCKittwIUtM-rFJk7HfKeOKPCC05cvFI6o3gfrxK1PiYRtT6UvTu7Ms2rqVswdbXSBqGX5vuSnjymb6opX5uJRejgEyGaEd9AYwjbuhR1WbExE_giaH9hYg2A9Etbv8w=w2348-h1322-no?authuser=0");
  background-repeat: no-repeat;
  background-size: cover;
}

.app-info {
  height: 100%;
  width: 27%;
  margin-left: 3%;
}

.app-info>h2 {
  margin-bottom: 7px;
  font-size: 1.5rem;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1.3px;
  text-decoration: underline;
}

.app-info>p {
  margin-bottom: 7px;
}

.app-info>ul>li {
  margin-bottom: 3px;
}







.contact-home-snippet {
  position: absolute;
  left: 0;
  height: 100vh;
  width: 25vw;
  padding: 2% 0;
  background-color: rgb(136, 202, 171);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  z-index: 5;
}

.contact-page {
  position: absolute;
  right: 0;
  height: 100vh;
  z-index: 5;
}

.contact-tab {
  position: absolute;
  left: 0;
  height: 100vh;
  width: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  z-index: 1;
  font-size: 1.2rem;
  letter-spacing: 0.5px;
  transition: background-color .4s, transform .3s;
}

.contact-tab:hover {
  background-color: rgb(238, 238, 238);
  transform: scale(1.05);
}

.contact-tab>i {
  margin-top: 15px;
  display: flex;
  justify-content: center;
}

.contact-tab>h4 {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  transform: rotate(180deg);
  display: flex;
  align-items: center;
}

.contact-home-tab {
  position: absolute;
  left: 0;
  height: 100%;
  width: 45px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  z-index: 1;
  font-size: 1.2rem;
  letter-spacing: 0.5px;
  transition: background-color .4s, transform .3s;
}

.contact-home-tab:hover {
  background-color: rgb(238, 238, 238);
  transform: scale(1.05);
}

.contact-home-tab>i {
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
}

.contact-home-tab>h4 {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  display: flex;
  align-items: center;
}

.contact-contents {
  position: absolute;
  right: 0;
  height: 100%;
  width: calc(100% - 45px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: scroll;
  font-size: 0.9rem;
  background: rgb(171,228,230);
  background: linear-gradient(90deg, rgba(171,228,230,1) 10%, rgba(255,255,255,1) 95%);
}

.contact-form-container {
  height: 90%;
  width: 90%;
  padding: 25px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-form-container>h1 {
  height: 10%;
  margin: 15px 0 10px 0;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1.3px;
  text-decoration: underline;
}

.contact-form {
  width: 90%;
  height: 80%;
}

.contact-form-container>form>input {
  margin-bottom: 15px;
  width: 370px;
}

.contact-form-container>form>textarea {
  margin-bottom: 15px;
  width: 370px;
  height: 280px;
  border: thin solid gray;
  padding: 10px;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.8);
}

.form-field {
  border: none;
  border-bottom: thin solid gray;
  padding: 0 10px;
  border-radius: 3px 3px 0 0;
  background-color: rgba(255, 255, 255, 0.8);
}

#submit {
  width: 80px;
  border-radius: 3px;
  border: thin solid gray;
}




@media (max-width: 768px) {
  .media-hide {
    display: none;
  }
  .connor-jones {
    font-size: 28px;
  }
  .software-engineer {
    font-size: 16px;
  }



  .work-contents>h1 {
    display: flex;
    align-items: center;
    height: unset;
    margin: 15px 0 10px 0;
  }

  .applications {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(95% - 25px);
    
    width: 100%;
    overflow: scroll;
  }

  .app-container {
    flex-direction: column;
    justify-content: space-evenly;
    width: 90vw;
    margin-bottom: 30px;
    height: 60vh;
    padding: 20px;

    background-color: rgba(206, 205, 205, 0.6);
    border-radius: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .app-snapshot {
    height: 60%;
    width: 100%;
    margin-bottom: 18px;

    background-color: white;
    border-radius: 5px;
  }
  
  .travelwise-snapshot {
    background-image: url("https://lh3.googleusercontent.com/pw/ACtC-3fSxl92FJ-ew0KwHqyB4beutgBHrvDdtf70xP65AHmf90n680MhjuYoI4sCMHo9J4Gs0xZjU0GKvz-TYiefqslGBKomF7wzbnf2u-E5Qqq8JW2RwaHIjoWm4Wkm6uiMhR9SKVIe4guq06bfrCscHPDh=w1292-h722-no?authuser=0");
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .match-mix-snapshot {
    background-image: url("https://lh3.googleusercontent.com/pw/ACtC-3cEQtI7izkbRUE1v3KpF7G5oOCJhJ87OJTtRbAdZsbZkFgigyS_9OkHyvD2-ovidYx2cRpXehNoqfLLZEeOJ8T7aGlAkCtDUtE4yOS06CnOwNNAeGy0nNc2T2-G9SljW6h99ZmWUcXTnBoRkNCCLj51=w2546-h1314-no?authuser=0");
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .mancala-snapshot {
    background-image: url("https://lh3.googleusercontent.com/pw/ACtC-3eoqiJjZPK3Mop48_EAxkbYnCKittwIUtM-rFJk7HfKeOKPCC05cvFI6o3gfrxK1PiYRtT6UvTu7Ms2rqVswdbXSBqGX5vuSnjymb6opX5uJRejgEyGaEd9AYwjbuhR1WbExE_giaH9hYg2A9Etbv8w=w2348-h1322-no?authuser=0");
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .app-info {
    height: unset;
    width: 80%;
    text-align: center;

    margin-left: 3%;
  }
  
  .app-info>h2 {
    margin-bottom: 7px;
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1.3px;
    text-decoration: underline;
  }
  
  .app-info>p {
    margin-bottom: 12px;
  }
  
  
  .app-info>ul>li {
    display: inline-block;

    margin: 0 7px 3px 0;
  }
}






@media (max-width: 570px) {
  
  .about {
    width: 100vw;
    height: calc(100vh - 180px);
    position: fixed;
    top: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0;
    background: rgb(171,228,230);
    background: linear-gradient(0deg, rgba(171,228,230,1) 45%, rgba(255,255,255,1) 78%);
  }
  
  .about-engineering, .about-experience {
    display: none;
  }

  .about > i {
    display: none;
  }
  
  
  
  
  .site-nav-experience, .site-nav-contact {
    visibility: hidden;
  }
  
  .site-nav-work {
    position: absolute;
    bottom: 15px;
    left: 15px;
    display: flex;
  }
  
  .site-nav-work>h5 {
    text-align: left;
  }
  
  .site-nav-work>i {
    margin: 15px 10px 0 0;
    transform: rotate(90deg) scale(1.5) scaleY(-1);
  }
  


  .experience-home-snippet {
    display: none;
  }
  
  .experience-page {
    position: absolute;
    bottom: 0;
    width: 100vw;
    z-index: 5;
  }
  
  .experience-tab {
    flex-direction: row;
    align-items: center;
    border-top: 1px solid rgb(172, 172, 172);

    position: absolute;
    top: 0;
    height: 60px;
    width: 100vw;
    display: flex;
    justify-content: center;
    cursor: pointer;
    z-index: 2;
    font-size: 1.2rem;
    letter-spacing: 0.5px;
    transition: background-color .4s, transform .3s;
  }
  
  .experience-tab:hover {
    background-color: rgb(238, 238, 238);
    transform: scale(1.05);
  }
  
  .experience-tab>i {
    margin: 0 15px 0 0;
    transform: rotate(270deg);

    display: flex;
    align-items: center;
  }
  
  .experience-tab>h4 {
    writing-mode: horizontal-tb;
    
    display: flex;
    align-items: center;
  }
  
  .experience-home-tab {
    top: 0;
    height: 10vh;
    width: 100%;
    flex-direction: row-reverse;

    position: absolute;
    display: flex;
    justify-content: center;
    cursor: pointer;
    z-index: 1;
    font-size: 1.2rem;
    letter-spacing: 0.5px;
    transition: background-color .4s, transform .3s;
  }
  
  .experience-home-tab:hover {
    background-color: rgb(238, 238, 238);
    transform: scale(1.05);
  }
  
  .experience-home-tab>i {
    transform: rotate(270deg);
    margin: 0 30px 0 0;

    display: flex;
    align-items: center;
  }
  
  .experience-home-tab>h4 {
    transform: rotate(270deg);

    display: flex;
    align-items: center;
  }
  
  .experience-contents {
    height: calc(100% - 10vh);
    width: 100%;
    bottom: 0;

    position: absolute;
    left: 0;
    padding: 14px 4%;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    font-size: 0.8rem;
    background: rgb(171,228,230);
    background: linear-gradient(270deg, rgba(171,228,230,1) 10%, rgba(255,255,255,1) 95%);
  }
  
  .experience-contents>h1 {
    height: 10%;
    margin: 15px 0 10px 0;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1.3px;
    text-decoration: underline;
  }
  




  .work-tab {
    border-top: 1px solid rgb(172, 172, 172);
  }

  .work-contents {
    height: calc(100% - 10vh);

    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    background: rgb(171,228,230);
    background: linear-gradient(180deg, rgba(171,228,230,1) 10%, rgba(255,255,255,1) 95%);
  }

  .work-home-tab {
    height: 10vh;
  }





  .contact-home-snippet {
    display: none;
  }
  
  .contact-page {
    position: absolute;
    bottom: 0;
    width: 100vw;
    z-index: 5;
  }
  
  .contact-tab {
    flex-direction: row-reverse;
    align-items: center;
    border-top: 1px solid rgb(172, 172, 172);

    position: absolute;
    top: 0;
    height: 60px;
    width: 100vw;
    display: flex;
    justify-content: center;
    cursor: pointer;
    z-index: 2;
    font-size: 1.2rem;
    letter-spacing: 0.5px;
    transition: background-color .4s, transform .3s;
  }
  
  .contact-tab:hover {
    background-color: rgb(238, 238, 238);
    transform: scale(1.05);
  }
  
  .contact-tab>i {
    margin: 0 15px 0 0;
    transform: rotate(90deg);

    display: flex;
    align-items: center;
  }
  
  .contact-tab>h4 {
    writing-mode: horizontal-tb;
    transform: rotate(0);

    display: flex;
    align-items: center;
  }
  
  .contact-home-tab {
    top: 0;
    height: 10vh;
    width: 100%;
    flex-direction: row;
    align-items: center;
    
    position: absolute;
    display: flex;
    justify-content: center;
    cursor: pointer;
    z-index: 1;
    font-size: 1.2rem;
    letter-spacing: 0.5px;
    transition: background-color .4s, transform .3s;
  }
  
  .contact-home-tab:hover {
    background-color: rgb(238, 238, 238);
    transform: scale(1.05);
  }
  
  .contact-home-tab>i {
    transform: rotate(90deg);
    margin: 0 30px 0 0;

    display: flex;
    align-items: center;
  }
  
  .contact-home-tab>h4 {
    transform: rotate(270deg);
    
    display: flex;
    align-items: center;
  }
  
  .contact-contents {
    position: absolute;
    bottom: 0;
    height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    background: rgb(171,228,230);
    background: linear-gradient(180deg, rgba(171,228,230,1) 10%, rgba(255,255,255,1) 95%);
  }
  
  .contact-contents>h1 {
    height: 10%;
    margin: 15px 0 10px 0;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1.3px;
    text-decoration: underline;
  }
}